@font-face {
    font-family: 'calculadora';
    src: url(../fonts/Calculator.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'calculadora', times;
    color: rgb(0, 0, 0);
    font-size: 32px;
}

.calculadora{
    align-items: center;
    display: flex;
    flex-direction: column;
	width: 390px;
	height: 490px;
    margin-top: 7%;
	background:#e5e6e7;
    padding: 35px;
    padding-left: 10px;
    padding-right: 10px;   
}

.Toggle{
    margin: 0;
    padding: 0;
    border: 0;
}
.fundo2{
    position: relative;
    bottom: 88px;
}
.fundo1{
    opacity: 0%;
    border: none;
    position: relative;
}
.RigthButton{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
    position: relative;
    bottom: 122px;
    left: 40px;
}

.LeftButton{
    opacity: 0%;
    border: none;
    position: relative;
    background-color: rgba(0,0,0,0);
    
}

.RigthButton button:active{
    transform: translateY(2px);
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:(78.03,79.89,95.37,1);
    width: 100%;
    height: 100%;
}

.teclas{
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.grey{
    background:rgb(170, 171, 182);
}
.black{
    background:(#dfd9d9);
}
.blue{
    background:rgb(44, 60, 206);
}

table button{
    top: 0px;
	left: 0px;
	width: 95px;
	height: 42px;
	border-radius: 12px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
    font-size: medium;
}
table button:hover{
    background:rgba(255, 255, 255, 0.5);
}

.tela{
    display: flex; flex-direction: column;
    width: 370px; height: 225px;
    border-radius: 5px;
    justify-content: flex-end; align-items: flex-end;
    overflow: hidden;
    flex-wrap: wrap;
    background:#e5e6e7;
}


.operacao{
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-family: 'calculadora';
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-top: 0;
    font-weight: 500;

    
}
.resultado{
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    font-size: 54px;
    font-family: 'calculadora';
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-weight: 500;
    
    
}
